*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}

:root{
	--bg-color: #fafafa;
	--text-color: #232631;
	--main-color: #5A4FCF;
}

body{
	min-height: 100vh;
	background: var(--bg-color);
	color: var(--text-color);
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	backdrop-filter: blur(5px);
  	background-color: rgba(255, 255, 255, .15);
	padding: 28px 12%;
	transition: all .50s ease;
}

.logo{
	display: flex;
	align-items: center;
}

.logo i{
	color: var(--main-color);
	font-size: 28px;
	margin-right: 3px;
}

.logo span{
	color: var(--text-color);
	font-size: 1.7rem;
	font-weight: 600;
}

.navbar{
	display: flex;
}

.navbar a{
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 600;
	padding: 5px 0;
	margin: 0px 30px;
	transition: all .50s ease;
}

.navbar a:hover{
	color: var(--main-color);
}

.navbar a.active{
	color: var(--main-color);
}

.main{
	display: flex;
	align-items: center;
}

.main a{
	margin-right: 25px;
	margin-left: 10px;
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	transition: all .50s ease;
}

.icon i{
    height: 50%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #EAE9F6;
    border-radius: 5px 5px 5px 5px;
}

.icon i:hover {
    background: #5A4FCF;
    color: #FFFFFF;
	font-size: 16px;
}

.nyambutUser {
	color: #5A4FCF;
	font-size: 16px;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 10px;
	font-weight: 600;
}

.login {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    background: #EAE9F6;
	margin-left: 20px;
}

.login a {
	margin-left: 20px;
	color: #5A4FCF;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

.login:hover {
    background: #5A4FCF;	
}

.login a:hover {
    color: #ffffff;
}

.main a:hover{
	color: var(--main-color);
}

.tombolLogout {
	color: #656565;
	font-size: 16px;
	font-weight: 500;
}

.tombolLogout:hover {
	color: #5A4FCF;
}

#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	cursor: pointer;
	z-index: 10001;
	display: none;
}


@media (max-width: 1280px){
	header{
		padding: 14px 2%;
		transition: .2s;
	}
	.navbar a{
		padding: 5px 0;
		margin: 0px 20px;
	}
}

@media (max-width: 1090px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 270px;
		height: 29vh;
		background: var(--main-color);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
	}
	.navbar a{
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}
	.navbar a:hover{
		color: var(--text-color);
		transform: translateY(5px);
	}
}

.container {
    width: 50%;
    height: 50%;
    min-width: 646px;
    min-height: 456px;
	position: absolute;
    margin-top: 160px;
	margin-left: 380px;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
    -moz-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
    box-shadow: 0px 5px 21px 0px rbga(128, 128, 128, 0.2);
}

.left {
    background-color: #5A4FCF;
    width: 39%;
    height: 457px;
    border-radius: 5px 0 0 5px;
    float: left;
    color: #FFFFFF;
}

.infoBox {
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}

.receipt {
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EAE9F6;
}

.receipt span {
    font-weight: 500;
    font-size: 21px;
}

.entry {
    border-bottom: 1px solid #EAE9F6;
    height: 15%;
    overflow: hidden;
    padding-top: 15px;
}

.entry i {
    margin-top: 4px;
    margin-right: 13px;
    float: left;
    color: #fefefe;
}

.entry p {
    font-weight: 300;
    font-size: 13px;
    line-height: 26px;
    margin-top: 0px !important;
    float: left;
	margin-bottom: 10px;
}

span {
    font-weight: 500;
    font-size: 16px;
}

.entry:last-child {
    border-bottom: none;
}

.right {
    background-color: #fefefe;
    width: 61%;
    height: auto;
	min-height: 456px;
    float: left;
    border-radius: 0 5px 5px 0;
}

.content {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.header {
    overflow: hidden;
    border-bottom: 1px solid #232631;
    height: 50px;
}

.header img {
    width: 100px;
    float: left;
}

h4 {
    font-weight: 300;
    font-size: 13px;
    color: #656565;
}

.header h4 {
    text-align: right;
    margin-top: 10px;
}

.totalMakanan h3 {
	margin-top: 20px;
	font-size: 18px;
}

.totalMakanan h4 {
	font-size: 14px;
}

.pesan {
	width: 70%;
	font-size: 12px;
	margin-top: 60px;
}

.listMakanan h5 {
	font-size: 15px;
	color: #232631;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 600;
}

.listMakanan {
	display: list-item;
	justify-content: space-between;
}

.menuMakanan {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 500;
	color: #232631;
	margin-left: 12px;
}

.footer {
	overflow: hidden;
	border-top: 1px solid #d7e2e7;
	margin-top: 40px;
	padding-top: 32px;
}

.footer h6{
	color: #656565;
	font-size: 12px;
	font-weight: 400;
	text-align: right;
	margin-top: 0px !important;
}

.backButton {
	position: absolute;
	background: #e3f2fd;
	margin-top: 680px;
}

.backButton button {
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	padding: 14px 22px;
	border: none;
	background: #5A4FCF;
	border-radius: 6px;
	cursor: pointer;
}

.backButton button a {
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
}

.backButton button:hover {
	background-color: #265df2;
}

.backBtn {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}