html{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 46px;
    padding: 0px 38px;
}

.logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    width: 10%;
    height: 10%;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
}

.nav ul {
    list-style: none;
    cursor: pointer;
    float: left;
    margin-left: 140px;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    color: #000000;
    font-family: 'Poppins', medium;
    font-size: 16px;
    padding: 15px 15px;
    font-weight: 400;
}

.nav ul li:hover {
    border-bottom: 3px solid #000000;
    transition: all .3s ease;
}

.nav button {
    border: none;
    outline: none;
    padding: 8px;
    width: 80px;
    cursor: pointer;
    margin-top: 24px;
    border-radius: 5px;
    background: #EAE9F6;
    margin-left: 40px;
}

.nav button a {
    color: #5A4FCF;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

button:hover {
    background: #5A4FCF;
}

button a:hover {
    color: #ffffff;
}

.nav label i {
    height: 50%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #EAE9F6;
    border-radius: 0px 5px 5px 0px;
}

.nav input {
    height: 50%;
    width: 300px;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #000000;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 200;
    border-radius: 5px 0px 5px 0px;
    margin-left: 40px;
}

.nav label i:hover {
    background: #5A4FCF;
    color: #FFFFFF;
}

.header {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.header h1 {
    color: #000000;
    text-align: left;
    font-family: 'Poppins', medium;
    font-size: 50px;
}